{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}


<!--{% if messages %}-->
<!--  {% for msg in messages %}-->
<!--    <div class="alert alert-info alert-dismissable">-->
<!--      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
<!--      {{msg.message}}-->
<!--    </div>-->
<!--  {% endfor %}-->
<!--{% endif %}-->
