<!--Review snippet without the global border-->
{% if post.user == user %}
<p>Vous avez publié une critique <span class="badge badge-default float-right m-2">{{post.time_created}}</span></p>
{% else %}
<p>{{post.user}} a publié une critique <span class="badge badge-default float-right m-2">{{post.time_created}}</span>
</p>
{% endif %}
{% include 'reviews/includes/review_info_snippet.html' %}

<div class="container py-5 w-75" ALIGN='center'>
    <div class="border border-primary">
        {% with post=post.ticket %}
        <p> Ticket - {{post.user}}</p>
        {% include 'reviews/includes/ticket_info_snippet.html' %}
        {% endwith %}
    </div>
</div>
