
<div class="container-fluid p-0">
    <div class="border border-primary">
        {% if post.user == user %}
            <p>Vous avez publié un ticket - {{post.time_created}}</p>
        {% else %}
            <p>{{post.user}} a publié un ticket - {{post.time_created}}</p>
        {% endif %}
        <p>{{post.title}}</p>
        <p>{{post.description}}</p>
        <img src="{{post.image.url}}">
        {% if not post.reviews.all %}
            <button><a href="{% url 'reviews:review-create' %}">Créer une critique</a></button>
        {% endif %}
    </div>
</div>