{% extends 'main/header.html' %}
{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<div class="container py-5">
    <h2 class="text-center">Créer un ticket</h2>
    <form method="POST", action="/create_ticket">
        {% csrf_token %}
        {{ ticket_form|crispy }}
        <button>Créer un ticket</button>
        <button>Télécharger fichier</button>
        <button>Envoyer</button>
        <!--		<button class="btn btn-primary" type="submit">Register</button>-->
    </form>
</div>

{% endblock %}