{% extends 'reviews/header.html' %}
{% block content %}

{% load crispy_forms_tags %}
<div class="container py-5">
<h1>This is info ralated of {{user}}</h1>
	<ul>
		{% for ticket in ls %}
				<li>created ticket's title : {{ticket.title}} </li>
					<ul>
						{% for review in ticket.reviews.all %}
							<li>received review's headline : {{review.headline}} </li>
							<li>received this review from user : {{review.user}} </li>
						{% endfor %}

					</ul>
		{% endfor %}
	</ul>
</div>

{% endblock %}

