{% extends 'reviews/header.html' %}
{% block content %}
{% if has_ticket %}
    <div class="container py-5">
        <h1>Créer une critique</h1>
        <h4>Vous êtes en train de poster en réponse à</h4>
        {% include 'reviews/includes/ticket_info_snippet.html' %}
        <h4>Critique</h4>
        <form action='.' method='POST'>
                    <p>Critique</p>
                    {% csrf_token %}
                    {{ review_form.as_p }}
                    <button type='submit' name="already_ticket" value="{{post.id}}" >Envoyer</button>
        </form>
    </div>
{% else %}
    <div class="container py-5">

    <h1>Créer une critique</h1>
        <form action='.' method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Livre / Article</h4>
            {{ ticket_form.media }}
            {{ ticket_form.as_p }}
            <h4>Critique</h4>
            {{ review_form.as_p }}
            <button type='submit' name="new_ticket_review" value="new_ticket_review" >Envoyer</button>
        </form>
    </div>
{% endif %}
{% endblock %}
