<!--Ticket creation page-->
{% extends 'reviews/header.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div ALIGN='center'>
    <h1>Créer un ticket</h1>
</div>
<div class="container py-5">
    <div class="border border-primary">
        <form action='.' method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container py-5 w-75">
                {{ form.media }}
                {{ form|crispy }}
                <button class="btn btn-primary" type='submit'>Envoyer</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}