<!--Ticket detail page-->
{% extends 'reviews/includes/header.html' %}
{% block content %}
    {% with post=object %}
        <div class="container py-5">
            <div class="border border-primary">
                <h4 class="text-center">Détail du ticket</h4>
                <div class="container py-5 w-75" ALIGN='center'>
                    <div class="border border-primary" >
                        <p>{{post.user}} a demandé une critique <span class="badge badge-default float-right m-2">{{post.time_created}}</span></p>
                        {% include 'reviews/includes/ticket_info_snippet.html' %}
                     </div>
                </div>
            </div>
        </div>
    {% endwith %}
    {{object.body|safe}}
{% endblock %}